#biography.page.home
  .pageheader
    .headercontent
      .section-container
        - if @profile
          .row
            .col-sm-2.visible-sm
            .col-sm-8.col-md-5
              .biothumb
                = image_tag @profile.image.url, class: 'img-responsive'
                .overlay
                  %ul.list-unstyled
                    %li= @profile.full_name
                    %li= @profile.company

            .clearfix.visible-sm.visible-xs
            .col-sm-12.col-md-7
              %h3.title Bio
              %p= @profile.bio