#sidebar
  #main-nav
    #nav-container
      #profile.clearfix
        .circular
          = image_tag @profile.image_url, size: "125x125"
        .title
      %ul#navigation
        %li
        - if @profile.persisted?
          %li.external
            = link_to edit_profile_path(@profile) do
              .icon.icon-book
              .text Edit Profile
        -else
          %li.external
            =link_to new_profile_path do
              .icon.icon-book
              .text New Profile
        %li.external
          = link_to destroy_user_session_path, method: :delete do
            .icon.icon-user
            .text Sign Out
  .social-icons
    %ul
      %li
        %a{:href => "index.html#"}
          %i.icon-facebook
      %li
        %a{:href => "index.html#"}
          %i.icon-twitter
      %li
        %a{:href => "index.html#"}
          %i.icon-linkedin